<div class="header">
  <h1 class="text">Login Page</h1>
</div>



<div class="form">
  <div class="box">
    <div>
<form>
  <div class="email">
  
  <input class="emailinput" type="email" placeholder="Enter Your Email">
  <br><br> <br>
  <input type="url"  class="emailinput" placeholder="Enter Your Password">
  <br><br>
  <button class="button">Submit</button>
  
  </div>


  
  
<!-- <br>
  <label for="password">password</label>
  <input type="password"> -->
</form>
    </div>
  </div>


</div>